.flyover article.bug .meta:before, .story.bug .meta:before {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/ladybug.png') !important;
  background-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.story_name img {
  width: 20px;
  vertical-align: middle;
}

.owner img {
  width: 20px;
  vertical-align: middle;
}

.quick-story .meta:before {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/quick.png') !important;
  background-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}
